@font-face {
    font-family: avenirNext;
    src: url(../fonts/avenir-next/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirNextBold;
  src: url(../fonts/avenir-next/AvenirNextLTPro-Bold.otf);
}
/* General Styles */
html{

}
body, body *{
    margin: 0;
    padding: 0;
    font-family: avenirNext;
    scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.content__titleDescription h3{
  color: #000000;
  font-size: 55px;
  line-height: 75px;
  font-weight: 400;
  margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Marcellus', serif;
}
body .container{
  max-width: 85%;
}
table {
	font-size: 1em;
}
.modal-backdrop{
  display: none;
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
section.section-padding{
  padding: 100px 0;
}
.section-head h2 {
  font-size: 40px;
  line-height: 1.33;
}
#form_resp{
  display: none;
}
/* Header Styles */
.header{
  position: relative;
}
.header .container{
  max-width: 85%;
}
.custom-navbar{
  background-color: rgba(0,0,0,0.21);
  z-index: 10;
  padding: 43px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.6s all ease-in-out;
}
.custom-navbar.newClass{
  padding: 10px 0 0 0;
  background-color: rgba(0,0,0,0.6);

}
.navbar-light .navbar-brand{
  padding-bottom: 10px;
}
.logo-small{
  display: none;
}
.custom-navbar .navbar-nav .nav-item{
  /* padding: 53px 0; */
  padding: 0 20px;
}
.custom-navbar .navbar-nav .nav-item .nav-link{
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 1.4;
}
.nav-item.active .nav-link{
  color: #db3556 !important;
}
.hero-slider-wrapper{
  /* position: relative; */
}
.header #hero-slider .slide {
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.header #hero-slider .slide-1{
  background-image: url('../img/slide-img-1.png');
}
.header #hero-slider .slide-2{
  background-image: url('../img/slide-img-2.png');
}
.header #hero-slider .slide-3{
  background-image: url('../img/slide-img-3.png');
}
#hero-slider .slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  border: unset;
}
#hero-slider .slick-next.slick-arrow{
  right: 60px;
}
#facial-menu .slick-slide img{
  height: 100%;
  object-fit: cover;
}
#hero-slider .slick-prev::before{
  content: '';
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width:14px;
  height:24px;
  left: 60px;
}
#hero-slider .slick-next::before{
  content: '';
  background-image: url(../img/forward.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width:14px;
  height:24px;
  right: 60px;
}
#hero-slider .slide{
  outline: none;
}
#hero-slider .hero-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 550px;
}
#hero-slider .hero-content .hero-text{
  font-size: 21px;
  line-height: 1.35;
  color: rgba(0,0,0,0.4);
  margin-bottom: 20px;
}
#hero-slider .hero-content .hero-heading{
  line-height: 1.325;
  margin-bottom: 55px;
  
}
.btn-vine{
  font-size: 15px;
  line-height: 1.33;
  color: #fff;
  background-color: #9B3147;
  border-radius: 0;
  padding: 20px 45px;
  letter-spacing: 1px;
  border: 1px solid #9B3147;
}
.btn-vine:hover{
  color: rgba(0,0,0,0.84);
  border:1px solid rgba(112, 112, 112,0.84);
  background-color: transparent;
}
.btn-vine-t{
  color: rgba(0,0,0,0.84);
  border:1px solid rgba(112, 112, 112,0.84);
  background-color: transparent;
}
.btn-vine-t:hover{
  color: #fff;
  background-color: #9B3147;
  border: 1px solid #9B3147;
}
.validate.intro{
  display: none;
}
#success-msg p{
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
/* About Us */
#about-us{
  background-image: linear-gradient(to right, rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('../img/about-bg.png');
  background-position: center;
  background-size: cover;
  padding: 125px 0;
}
#about-us .container{
  max-width: 85%;
}
.about-video-wrapper{
  position: relative;
}
.about-video-wrapper video{
  
}
.about-video-wrapper button {
  
}
.about-video-wrapper button.active {
  
}
.about-desc-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}
.about-details h2 {
  font-size: 54px;
  line-height: 1.33;
  max-width: 100%;
  margin-bottom: 50px;
}
.about-details p {
  font-size: 25px;
  line-height: 1.32;
  margin-bottom: 45px;
}
.about-details p:last-child{
  margin-bottom: 0;
}
/* Services Styles */
#services{
  padding: 130px 0;
}
.services-wrapper{
  text-align: center;
}
.service-details h3{
  font-size: 28px;
  line-height: 1.33;
  margin: 50px 0 25px 0;
}
.service-details p {
  max-width: 40%;
  margin: 0 auto;
}
/* Product Section */
#products .section-head h2{
  text-align: center;
  font-size: 35px;
  line-height: 1.33;
  color: rgba(0,0,0,0.84);
  margin-bottom: 23px;
}
#products .product-wrapper{
  text-align: center;
}
.product-details h3 {
  margin-top: 40px;
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 1.33;
  color: rgba(0,0,0,0.84);
}
.product-details p {
  color: rgba(0,0,0,0.75);
  font-size: 15px;
  line-height: 1.33;
  max-width: 72%;
  margin: 0 auto;
}
.product-img img {
  margin: 0 auto;
}
/* Counter Styles */
#counter{
  background-image:  url('../img/counter-bg.png');
  padding: 321px 0 274px 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
#counter::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.21);
}
.counter-wrapper .counter-item{
  text-align: center;
}
.counter-item span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  line-height: 1.33;
}
.counter-item h4{
  font-size: 60px;
  line-height: 1.33;
}
.counter-item p {
  font-size: 30px;
  line-height: 1.33;
  margin-top: 54px;
}
/* Subscribe */
#subscribe{
  background-image:  url('../img/subscribe-bg.png');
  padding: 75px 0 275px 0;
  background-size: cover;
  background-position: 100% 78%;
  background-repeat: no-repeat;
  text-align: center;
}
#subscribe form{
  max-width: 90%;
  margin: 20px auto;
}
#subscribe .form-control{
  border-radius: 0;
  outline: none;
  background-color: rgba(255,255,255,0.33);
}
#subscribe .form-control:focus {
  color: #495057;
  background-color: rgba(255,255,255,0.7);
  border-color:#fff;
  outline: 0;
  box-shadow: none;
}
#subscribe .section-head h2 {
  font-size: 35px;
  line-height: 1.33;
  color: #9A374B;
  
}
#subscribe .section-head p {
  font-size: 28px;
  color: #fff;
  margin: 38px 0;
}
#subscribe  .btn-vine:hover {
  color: #fff;
  border-color: #fff;
}
.subscribe-wrapper{
  max-width: 730px;
  margin: 0 auto;
}
/* Footer */
footer{
  background-color: #9A374B;
  padding: 96px 0 117px 0px;
  color: #fff;
}
.footer-logo{
  margin-bottom: 95px;
}
.footer-details p {
  font-size: 22px;
  line-height: 1.33;
}
.contact-link .email-link{
  margin: 25px 0 22px 0;
}
.contact-link a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.33;
}
.contact-link .email-link a {
  font-weight: 600;
}
.social-links a {
  color: #fff;
  font-size: 25px;
  margin-right: 20px;
}
.social-links a:last-child{
  margin-right: 0;
}
.social-links {
  margin-top: 45px;
}
/* Premium Styles */
#premium {
  overflow: hidden;
  color: #fff;
}

#premium .col-lg-6{
  padding: 0;
  margin: 0;
}
.premium-img img{
  width: 100%;
}
#premium .col-lg-6 .premium-details{
  background-color: #9A374B;
  height: 100%;
  display: flex;
  align-items: center;
}
.premium-details .section-head h2{
  margin-bottom: 45px;
}
.premium-details .section-head {
  margin-bottom: 65px;
}
.premium-details .section-content p {
  font-size: 25px;
  line-height: 1.33;
  margin-bottom: 90px;
}
.premium-detail-wrapper .section-head p{
  font-size: 23px;
  color:rgb(255, 255, 255, 0.58);
}
.premium-logo-small{
  display: none;
}
/* Facial Menu Styles */
#facial-menu{
  background-color: rgba(154, 55, 75, 0.12);
  overflow: hidden;
}
.facial-img-small{
  height: 100%;
}
.facial-slide-wrapper .section-head {
  margin-bottom: 30px;
}
.facial-slide-wrapper .section-content p{
  margin-bottom: 60px;
  max-width: 505px;
  letter-spacing: 1px;
}
.facial-detail-main{
  display: flex;
  align-items: center;
}
/* Contact Us */
#contact-us{
  background-image: linear-gradient(to right, rgba(147, 144, 144, 0.41),rgba(147, 144, 144, 0.41)), url('../img/contact-us-bg.png');
  padding: 150px 0;
}
.contact-form-wrapper{
  background-color: #fff;
  padding: 50px 60px 80px 60px;
}
.contact-us-head{
  display: flex;
  align-items: center;
  height: 100%;
}
.contact-us-head h2{
  color: #fff;
  font-size: 60px;
  line-height: 1.33;
  text-align: center;
  max-width: 70%;
}
.contact-form-wrapper {
  text-align: center;
}
.contact-form-wrapper h3{
  font-size: 35px;
  line-height: 1.33;
  margin-bottom: 32px;
}
.contact-form-wrapper .form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  color: rgba(0, 0, 0, 0.41);
  padding: 10px 5px;
  max-width: 95%;
  font-size: 21px;
}
.contact-form-wrapper .form-control:focus{
  outline: unset;
  box-shadow: unset;
}
.contact-form-wrapper .form-control::placeholder{
  color: rgba(0, 0, 0, 0.41)
}

.contact-form-wrapper .btn.btn-vine{
  margin-top: 20px;
}
/* Slick General Styles */
.slick-dots {
  display: flex;
  justify-content: center;
  font-size: 0;
  margin-top: 40px;
}
.slick-active{
  outline: none;
}
ul.slick-dots li {
  margin: 0px 11px;
  
}
ul.slick-dots li button{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.84);
  border: 1px solid rgba(112, 112, 112, 0.84);
  outline: none;
}
ul.slick-dots li.slick-active button{
  background-color:rgba(112, 112, 112, 0.84);
  
}

.contact-form-wrapper h2{
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 15px;
}
.contact-form-wrapper p{
  font-size: 20px;
  line-height: 26px;
}
/* Responsive Media Queries */
.fprIlH{
  opacity: 0 !important;
} 
/* popup section starts here */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
  }
  .cnt223 a{
  text-decoration: none;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .popup{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.74);
  justify-content: center;
  align-items: center;
  }
  .cnt223{
  width: 1270px;
  height: auto;
  margin: 0px auto;
  background: #ffffff;
  position: relative;
  z-index: 103;
  padding: 75px 0 75px 130px;
  }
  .cnt223::before{
    content: '';
    background-image: url(../img/discount-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 520px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .popup-text{
    width: 50%;
    text-align: center;
  }
  .popup-text h3{
    font-size: 38px;
    line-height: 1.4;
    font-weight: 400;
    color: #000000 !important;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  #subscribe-result{
    font-size: 38px;
    line-height: 1.4;
    font-weight: 400;
    color: #fff !important;
  }
  .popup-text p{
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    opacity: 40%;
  }
  .popup-text h2{
    font-size: 100px;
    line-height: 133px;
    font-weight: 400;
    color:#9A374B;
    font-family: avenirNext;
  }
  .popup-text form .form-group{
    width: 460px;
    margin: 40px auto 55px;
  }
  .popup-text form .form-group input{
    width: 100%;
    height: 47px;
    border-radius: 50px;
    border: unset;
    background-color: #f0f0f0;
  }
  .popup-text form .form-group input:focus{
    outline: unset;
    box-shadow: unset;
  }
  .popup-text form input.btn.btn-primary{
    font-size: 21px;
    line-height: 28px;
    font-family: avenirNext;
    color: #fff;
    background-color: #9B3147;
    text-transform: capitalize;
    border: unset;
    padding: 10px 45px 10px 45px;
  }
  .popup-text form input.btn.btn-primary:hover{
    background-color: #9B3147;
  }
  .popup-text a{
    float: unset;
    position: absolute;
    top: 0;
    right: 0;
  }
/* popup section ends here */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .section-head h2 {
    font-size: 28px;
  }
  section.section-padding{
    padding: 80px 0;
  }
  .hero-slider-wrapper{
    margin-top: 0;
  }
  .custom-navbar {
    background-color: rgba(0,0,0,0.55);
  }
  .logo-large{
    display: none;
  }
  .logo-small{
    display: block;
  }
  .header #hero-slider .slide-1 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-1.png);
    background-position: 55% 100%;
  }
  .header #hero-slider .slide-2 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-2.png);
    background-position: 58% 100%;
  }
  .header #hero-slider .slide-3 {
  background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-3.png);
  background-position: 55% 100%;
  }
  #hero-slider .hero-content .hero-text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  #hero-slider .hero-content .hero-heading {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .btn-vine {
    font-size: 14px;
    padding: 14px 30px;
  }
  /* About Mobile */
  #about-us {
    padding: 70px 0;
  }
  .about-details h2 {
    font-size: 26px;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .about-details p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  /* Premium Mobile */
  #premium .col-lg-6 .premium-details {
    padding: 80px 0;
  }
  .premium-details .section-head h2 {
    margin-bottom: 20px;
  }
  .premium-details .section-head {
    margin-bottom: 30px;
  }
  .premium-detail-wrapper .section-head p {
    font-size: 17px;
  }
  .premium-details .section-content p {
    font-size: 18px;
    margin-bottom: 45px;
  }
  /* Services Mobile */
  #services {
    padding: 80px 0;
  }
  .service-details p {
    max-width: 100%;
    font-size: 15px;
  }
  .service-details h3 {
    font-size: 24px;
    margin: 35px 0 15px 0;
  }
  .service-item .service-icon{
    width: 100px;
    margin: 15px auto 0 auto;
  }
  .facial-img-small{
    display: none;
  }
  .facial-detail-wrapper {
    padding-top: 80px;
  }
  .facial-slide-wrapper .section-content p {
    margin-bottom: 40px;
    max-width: 100%;
  }
  /* Contact Us Mobile */
  #contact-us {
    padding: 100px 0;
  }
  #contact-us .col-lg-5{
    padding: 0;
  }
  .contact-form-wrapper {
    padding: 35px 15px 50px 15px;
  }
  .contact-us-head h2 {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .contact-form-wrapper .form-control {
    padding: 0px 5px;
    max-width: 95%;
    font-size: 16px;
  }
  .contact-form-wrapper h3 {
    font-size: 26px;
    margin-bottom: 25px;
  }
  /* Product Mobile */
  #products .section-head h2 {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .product-details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .product-details p {
    max-width: 100%;
  }
  /* Counter Mobile */
  #counter {
    padding: 150px 0 150px 0;
    background-position: 61% 100%;
  }
  .counter-item span {
    font-size: 40px;
  }
  .counter-item h4 {
    font-size: 40px;
  }
  .counter-item p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  /* Subscribe */
  #subscribe {
    padding: 100px 0 275px 0;
    background-position: 37% 100%;
  }
  #subscribe .section-head h2 {
    font-size: 26px;
  }
  #subscribe .section-head p {
    font-size: 23px;
    margin: 25px 0;
  }
  .subscribe-wrapper .btn-vine{
    margin-top: 20px;
  }
  /* Footer */
  .footer-details p {
    font-size: 18px;
  }
  .contact-link a {
    font-size: 18px;
  }
  .social-links {
    margin-top: 30px;
  }
  .social-links a {
    font-size: 18px;
    margin-right: 14px;
  }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .section-head h2 {
    font-size: 36px;
  }
  section.section-padding{
    padding: 100px 0;
  }
  .hero-slider-wrapper{
    margin-top: 0;
  }
  .header #hero-slider .slide-1 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-1.png);
    background-position: 55% 100%;
  }
  .header #hero-slider .slide-2 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-2.png);
    background-position: 58% 100%;
  }
  .header #hero-slider .slide-3 {
  background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-3.png);
  background-position: 55% 100%;
  }
  .custom-navbar {
    background-color: rgba(0,0,0,0.55);
  }
  .logo-large{
    display: none;
  }
  .logo-small{
    display: block;
  }
  #hero-slider .hero-content .hero-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #hero-slider .hero-content .hero-heading {
    margin-bottom: 30px;
    font-size: 33px;
  }
  .btn-vine {
    font-size: 14px;
    padding: 14px 30px;
  }
  /* About Mobile */
  #about-us {
    padding: 70px 0;
  }
  .about-details h2 {
    font-size: 32px;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .about-details p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* Premium Mobile */
  #premium .col-lg-6 .premium-details {
    padding: 80px 0;
  }
  .premium-details .section-head h2 {
    margin-bottom: 20px;
  }
  .premium-details .section-head {
    margin-bottom: 30px;
  }
  .premium-detail-wrapper .section-head p {
    font-size: 20px;
  }
  .premium-details .section-content p {
    font-size: 22px;
    margin-bottom: 45px;
  }
  /* Services Mobile */
  #services {
    padding: 100px 0;
  }
  .service-details p {
    max-width: 100%;
    font-size: 18px;
  }
  .service-details h3 {
    font-size: 28px;
    margin: 35px 0 15px 0;
  }
  .service-item .service-icon{
    width: 100px;
    margin: 15px auto 0 auto;
  }
  .facial-img-small img{
    max-width: 110%;
  }
  .facial-detail-wrapper {
    padding-top: 80px;
  }
  .facial-slide-wrapper .section-content p {
    margin-bottom: 40px;
    max-width: 100%;
    font-size: 18px;
  }
  /* Contact Us Mobile */
  #contact-us {
    padding: 100px 0;
  }
  #contact-us .col-lg-5{
    padding: 0;
  }
  .contact-form-wrapper {
    padding: 35px 40px 50px 40px;
    max-width: 85%;
    margin: 0 auto;
  }
  .contact-us-head h2 {
    font-size: 48px;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .contact-form-wrapper .form-control {
    padding: 0px 5px;
    max-width: 95%;
    font-size: 16px;
  }
  .contact-form-wrapper h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  /* Product Mobile */
  #products .section-head h2 {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .product-details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .product-details p {
    max-width: 75%;
  }
  /* Counter Mobile */
  #counter {
    padding: 150px 0 150px 0;
    background-position: 59% 100%;
  }
  .counter-item span {
    font-size: 48px;
  }
  .counter-item h4 {
    font-size: 48px;
  }
  .counter-item p {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  /* Subscribe */
  #subscribe {
    padding: 100px 0 275px 0;
    background-position: 34% 100%;
  }
  #subscribe .section-head h2 {
    font-size: 32px;
  }
  #subscribe .section-head p {
    font-size: 28px;
    margin: 25px 0;
  }
  .subscribe-wrapper .btn-vine{
    margin-top: 25px;
  }
  /* Footer */
  .footer-details p {
    font-size: 22px;
  }
  .contact-link a {
    font-size: 22px;
  }
  .social-links {
    margin-top: 20px;
  }
  .social-links a {
    font-size: 22px;
    margin-right: 14px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .section-head h2 {
    font-size: 40px;
  }
  section.section-padding{
    padding: 120px 0;
  }
  .hero-slider-wrapper{
    margin-top: 0;
  }
  .header #hero-slider .slide-1 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-1.png);
    background-position: 0% 100%;
  }
  .header #hero-slider .slide-2 {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-2.png);
    background-position: 0% 100%;
  }
  .header #hero-slider .slide-3 {
  background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/slide-img-3.png);
  background-position: 0% 100%;
  }
  .custom-navbar {
    background-color: rgba(0,0,0,0.55);
  }
  .logo-large{
    display: block;
  }
  .logo-small{
    display: none;
  }
  #hero-slider .hero-content .hero-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #hero-slider .hero-content .hero-heading {
    margin-bottom: 30px;
    font-size: 38px;
  }
  .btn-vine {
    font-size: 16px;
    padding: 15px 35px;
  }
  /* About Mobile */
  #about-us {
    padding: 120px 0;
  }
  .about-details h2 {
    font-size: 40px;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .about-details p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  /* Premium Mobile */
  #premium .col-lg-6 .premium-details {
    padding: 120px 0;
  }
  .premium-details .section-head h2 {
    margin-bottom: 25px;
  }
  .premium-details .section-head {
    margin-bottom: 30px;
  }
  .premium-detail-wrapper .section-head p {
    font-size: 22px;
  }
  .premium-details .section-content p {
    font-size: 24px;
    margin-bottom: 45px;
  }
  /* Services Mobile */
  #services {
    padding: 80px 0;
  }
  .service-details p {
    max-width: 65%;
    font-size: 18px;
  }
  .service-details h3 {
    font-size: 28px;
    margin: 35px 0 15px 0;
  }
  .service-item .service-icon{
    width: 125px;
    margin: 15px auto 0 auto;
  }
  .facial-img-small img{
    max-width: 110%;
  }
  .facial-detail-wrapper {
    padding-top: 80px;
  }
  .facial-slide-wrapper .section-content p {
    margin-bottom: 40px;
    max-width: 92%;
    font-size: 20px;
  }
  .facial-responsive{
    max-width: 85%;
    margin: 0 auto;
  }
  /* Contact Us Mobile */
  #contact-us {
    padding: 100px 0;
  }
  #contact-us .col-lg-5{
    padding: 0;
  }
  .contact-form-wrapper {
    padding: 35px 40px 50px 40px;
    max-width: 85%;
    margin: 0 auto;
  }
  .contact-us-head h2 {
    font-size: 58px;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .contact-form-wrapper .form-control {
    padding: 0px 5px;
    max-width: 98%;
    font-size: 16px;
  }
  .contact-form-wrapper h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  /* Product Mobile */
  #products .section-head h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .product-details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .product-details p {
    max-width: 75%;
  }
  /* Counter Mobile */
  #counter {
    padding: 150px 0 150px 0;
    background-position: 59% 100%;
  }
  .counter-item span {
    font-size: 48px;
  }
  .counter-item h4 {
    font-size: 48px;
  }
  .counter-item p {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  /* Subscribe */
  #subscribe {
    padding: 100px 0 275px 0;
    background-position: 34% 100%;
  }
  #subscribe .section-head h2 {
    font-size: 40px;
  }
  #subscribe .section-head p {
    font-size: 28px;
    margin: 35px 0;
  }
  .subscribe-wrapper .btn-vine{
    margin-top: 40px;
  }
  /* Footer */
  .footer-details p {
    font-size: 22px;
  }
  .contact-link a {
    font-size: 22px;
  }
  .social-links {
    margin-top: 20px;
  }
  .social-links a {
    font-size: 25px;
    margin-right: 20px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .custom-navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .about-details h2 {
    font-size: 34px;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .about-details p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .premium-details .section-head h2 {
    margin-bottom: 25px;
    font-size: 32px;
  }
  .premium-detail-wrapper .section-head p {
    font-size: 19px;
  }
  .premium-details .section-head {
    margin-bottom: 30px;
  }
  .premium-details .section-content p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .premium-logo-large{
    display: none;
  }
  .premium-logo-small{
    display: block;
  }
  .service-item .service-icon {
    width: 100px;
    margin: 15px auto 0 auto;
  }
  .service-details h3 {
    font-size: 21px;
    line-height: 1.33;
    margin: 35px 0 15px 0;
  }
  .service-details p {
    max-width: 100%;
    margin: 0 auto;
  }
  .facial-img-small img {
    max-width: 113.5%;
  }
  .contact-form-wrapper {
    background-color: #fff;
    padding: 50px 20px 80px 20px;
  }
  .contact-us-head h2 {
    font-size: 52px;
    max-width: 100%;
  }
  .contact-form-wrapper .form-control {
    font-size: 18px;
  }
  .product-details h3 {
    margin-top: 15px;
    margin-bottom: 25px;
    color: rgba(0,0,0,0.84);
  }
  .counter-item span {
    font-size: 52px;
  }
  .counter-item h4 {
    font-size: 52px;
  }
  .counter-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  #subscribe .section-head h2 {
    font-size: 32px;
  }
  #subscribe .section-head p {
    font-size: 26px;
    margin: 30px 0;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1366px) {
  .cnt223 {
    width: 1150px;
  }
  .cnt223::before {
    background-size: contain;
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 1200px) {
  .cnt223 {
    width: 950px;
    padding: 50px;
  }
  .popup-text h3 {
    font-size: 40px;
    line-height: 55px;
  }
  .popup-text h2 {
    font-size: 80px;
    line-height: 113px;
  }
}
@media(max-width:991px){
  .header .navbar button{
    padding: 10px;
    border: 1px solid #fff;
    height: 38px;
    margin-right: 20px;
  }
  .header .navbar button:focus{
    outline: unset;
  }
  .header .navbar .collapse:not(.show) {
    display: initial;
    opacity: 0;
    height: 0;
  }
  .header .container {
    max-width: 100%;
  }
  .header .navbar button span{
    background-color: #fff;
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    display: block;
  }
  .header .navbar button span:nth-child(3){
    margin-bottom: 0;
  }
  .header .navbar button.mobile-btn span:nth-child(2){
    display: none;
    transition: 0.4s all ease-in-out;

  }
  .header .navbar .mobile-btn span:nth-child(1){
    margin-bottom: -1px;
    transform: rotate(43deg);
    transition: 0.4s all ease-in-out;

  }
  .header .navbar .mobile-btn span:nth-child(3){
    margin-bottom: 0;
    transform: rotate(-45deg);
    transition: 0.4s all ease-in-out;

  }
  .navbar-light .navbar-brand {
    margin-left: 20px;
    padding-bottom: 10px;
  }
  .custom-navbar {
    padding: 10px 0 0 0;
  }
  .navbar-nav{
    background-color: #000;
  }
  .navbar-nav .nav-item.active{
    background-color:#db3556 !important
  }
  .navbar-nav .nav-item.active .nav-link{
    color: #fff !important;
  }
  .cnt223 {
    width: 700px;
    padding: 25px;
  }
  .cnt223::before {
    width: 300px;
    height: 270px;
  }
  .popup-text {
    width: 60%;
  }
  .popup-text form .form-group {
    width: 400px;
    margin: 20px auto 30px;
  }
  #hero-slider .slick-next::before {
    content: unset;
  }
  #hero-slider .slick-prev::before {
    content: unset;
  }
}
@media(max-width:767px){
  .cnt223 {
    width: 100%;
    padding: 20px;
    margin: 0 15px;
  }
  .popup-text h3 {
    font-size: 35px;
    line-height: 45px;
  }
  .popup-text h2 {
    font-size: 60px;
    line-height: 83px;
  }
  .popup-text p {
    font-size: 16px;
    line-height: 23px;
  }
  .popup-text form .form-group {
    width: 300px;
  }
  .cnt223::before {
    width: 240px;
    height: 220px;
  }
}
@media(max-width:640px){
  .about-video-wrapper iframe{
    width: 100% !important;
  }
}
@media(max-width:575px){
  .popup-text {
    width: 100%;
  }
  .cnt223 {
    padding: 45px 15px;
  }
  .cnt223::before {
    width: 80px;
    height: 70px;
    top: 92%;
  }
}
@media(max-width:425px){
  .about-video-wrapper iframe{
  height: 250px !important;
  }
}
@media(max-width:375px){
  .popup-text h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .popup-text h2 {
    font-size: 50px;
    line-height: 73px;
  }
  .popup-text form .form-group {
    width: 100%;
  }
  .popup-text form input.btn.btn-primary {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 20px;
  }
}
